body
{
background-color: #373737;	
}
.navbar-inner
{
padding-left: 200px;
padding-right:200px;
}
.row-fluid
{
color: white;
margin-top: 50px;
}
.span4
{
padding: 10px;
}
.row
{
color: white;
margin-top: 50px;
}
#a
{
padding: 10px;
background-color: #303030;
}
.footer
{
line-height: 5px;	
}
.footer p
{
color: white;
text-align: center;	
}